.p
{
    margin-bottom:10px;
}

.Globe-logo {
    height: 16vmin;
    padding: 20px;
    pointer-events: none;
  
}

.Header-body {
    margin: 0px;
    background-color: #242424;
    display: flex;
    flex-direction: row;
    font-size: 50px;
    color:rgb(204, 204, 204);
}

.Header-text{
    margin: 40px;
}

@font-face {
    font-family: myFirstFont;
    src: url(Sansation_Bold.ttf);
 }
 
 @font-face {
    font-family: myFirstFont;
    src: url(Sansation_Bold.ttf);
    font-weight: bold;
 }
 
 * {
    font-family: myFirstFont;
 }

